/* Custom styles for AI Dev documentation site */

/* You can add custom CSS here to override Material theme defaults */

/* ========================================================================
   EXAMPLE STYLES (commented out)
   ======================================================================== */

/* Example: Custom color for inline code */
/*
code {
  background-color: #f5f5f5;
  padding: 2px 4px;
  border-radius: 3px;
}
*/

/* Example: Custom styling for admonitions */
/*
.admonition {
  border-left: 4px solid #448aff;
}
*/

/* Example: Custom font for headers */
/*
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
*/

/* ========================================================================
   GITHUB FLAVORED MARKDOWN CALLOUTS - CUSTOM ICONS
   Template taken from mkdocs-material docs
   SVG icons and colors from GitHub
   ======================================================================== */

:root {
  --md-admonition-icon--note: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13ZM6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75ZM8 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/></svg>');
  --md-admonition-icon--tip: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M8 1.5c-2.363 0-4 1.69-4 3.75 0 .984.424 1.625.984 2.304l.214.253c.223.264.47.556.673.848.284.411.537.896.621 1.49a.75.75 0 0 1-1.484.211c-.04-.282-.163-.547-.37-.847a8.456 8.456 0 0 0-.542-.68c-.084-.1-.173-.205-.268-.32C3.201 7.75 2.5 6.766 2.5 5.25 2.5 2.31 4.863 0 8 0s5.5 2.31 5.5 5.25c0 1.516-.701 2.5-1.328 3.259-.095.115-.184.22-.268.319-.207.245-.383.453-.541.681-.208.3-.33.565-.37.847a.751.751 0 0 1-1.485-.212c.084-.593.337-1.078.621-1.489.203-.292.45-.584.673-.848.075-.088.147-.173.213-.253.561-.679.985-1.32.985-2.304 0-2.06-1.637-3.75-4-3.75ZM5.75 12h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1 0-1.5ZM6 15.25a.75.75 0 0 1 .75-.75h2.5a.75.75 0 0 1 0 1.5h-2.5a.75.75 0 0 1-.75-.75Z"/></svg>');
  --md-admonition-icon--important: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v9.5A1.75 1.75 0 0 1 14.25 13H8.06l-2.573 2.573A1.458 1.458 0 0 1 3 14.543V13H1.75A1.75 1.75 0 0 1 0 11.25Zm1.75-.25a.25.25 0 0 0-.25.25v9.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.749.749 0 0 1 .53-.22h6.5a.25.25 0 0 0 .25-.25v-9.5a.25.25 0 0 0-.25-.25Zm7 2.25v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"/></svg>');
  --md-admonition-icon--warning: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575Zm1.763.707a.25.25 0 0 0-.44 0L1.698 13.132a.25.25 0 0 0 .22.368h12.164a.25.25 0 0 0 .22-.368Zm.53 3.996v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"/></svg>');
  --md-admonition-icon--caution: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M4.47.22A.749.749 0 0 1 5 0h6c.199 0 .389.079.53.22l4.25 4.25c.141.14.22.331.22.53v6a.749.749 0 0 1-.22.53l-4.25 4.25A.749.749 0 0 1 11 16H5a.749.749 0 0 1-.53-.22L.22 11.53A.749.749 0 0 1 0 11V5c0-.199.079-.389.22-.53Zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5ZM8 4a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/></svg>');
}

/* ========================================================================
   NOTE CALLOUT - Blue
   Color: rgb(9, 105, 218)
   ======================================================================== */

.md-typeset .admonition.note,
.md-typeset details.note {
  border-color: rgb(9, 105, 218);
}
.md-typeset .note > .admonition-title,
.md-typeset .note > summary {
  background-color: rgba(9, 105, 218, 0.1);
}
.md-typeset .note > .admonition-title::before,
.md-typeset .note > summary::before {
  background-color: rgb(9, 105, 218);
  -webkit-mask-image: var(--md-admonition-icon--note);
          mask-image: var(--md-admonition-icon--note);
}

/* ========================================================================
   TIP CALLOUT - Green
   Color: rgb(26, 127, 55)
   ======================================================================== */

.md-typeset .admonition.tip,
.md-typeset details.tip {
  border-color: rgb(26, 127, 55);
}
.md-typeset .tip > .admonition-title,
.md-typeset .tip > summary {
  background-color: rgba(26, 127, 55, 0.1);
}
.md-typeset .tip > .admonition-title::before,
.md-typeset .tip > summary::before {
  background-color: rgb(26, 127, 55);
  -webkit-mask-image: var(--md-admonition-icon--tip);
          mask-image: var(--md-admonition-icon--tip);
}

/* ========================================================================
   IMPORTANT CALLOUT - Purple
   Color: rgb(130, 80, 223)
   Note: Uses !important to override callouts plugin styles
   ======================================================================== */

.md-typeset .admonition.important,
.md-typeset details.important {
  border-color: rgb(130, 80, 223) !important;
}
.md-typeset .important > .admonition-title,
.md-typeset .important > summary {
  background-color: rgba(130, 80, 223, 0.1) !important;
}
.md-typeset .important > .admonition-title::before,
.md-typeset .important > summary::before {
  background-color: rgb(130, 80, 223) !important;
  -webkit-mask-image: var(--md-admonition-icon--important);
          mask-image: var(--md-admonition-icon--important);
}

/* ========================================================================
   WARNING CALLOUT - Gold/Yellow
   Color: rgb(191, 135, 0)
   ======================================================================== */

.md-typeset .admonition.warning,
.md-typeset details.warning {
  border-color: rgb(191, 135, 0);
}
.md-typeset .warning > .admonition-title,
.md-typeset .warning > summary {
  background-color: rgba(191, 135, 0, 0.1);
}
.md-typeset .warning > .admonition-title::before,
.md-typeset .warning > summary::before {
  background-color: rgb(191, 135, 0);
  -webkit-mask-image: var(--md-admonition-icon--warning);
          mask-image: var(--md-admonition-icon--warning);
}

/* ========================================================================
   CAUTION CALLOUT - Red
   Color: rgb(207, 34, 46)
   Note: Uses !important to override callouts plugin styles
   ======================================================================== */

.md-typeset .admonition.caution,
.md-typeset details.caution {
  border-color: rgb(207, 34, 46) !important;
}
.md-typeset .caution > .admonition-title,
.md-typeset .caution > summary {
  background-color: rgba(207, 34, 46, 0.1) !important;
}
.md-typeset .caution > .admonition-title::before,
.md-typeset .caution > summary::before {
  background-color: rgb(207, 34, 46) !important;
  -webkit-mask-image: var(--md-admonition-icon--caution);
          mask-image: var(--md-admonition-icon--caution);
}

